# python
__pycache__/
pycache/
*.py[cod]
*.pyc
*.pyo
*.swp
.venv/
.env
.venv*/

# data + artifacts
data/
artifacts/
runs/
logs/
hypnograms/
compared_hypnograms/

# tooling
.mypy_cache/
.pytest_cache/
.hypothesis/
.ipynb_checkpoints/

# editors
.vscode/
*.code-workspace

# local writing files
thesis.tex
mybib.bib
presentation.md
presentation2.md
speech.md
